<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Arteum{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/output.css') }}">
        
        {# Tailwind Plus Elements CDN script #}
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>